@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo {
      font-size: 1.75rem;
      white-space: nowrap;
      text-decoration: none;
    }
  }

.about-me:hover {
text-decoration: none;
}

  @include media-breakpoint-down(sm) {
    .control-item {
      padding: 0;
    }

    .control-item-right {
      border-left: none;
      margin-left: 10px;
    }
  }
}
